.card-img-top {
  height: 250px;
  object-fit: contain;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.price-tag {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  padding: 0.5rem;
  margin: 0;
  height: 27vh;
  overflow: auto;
  font-size: smaller;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
