.card-img-top {
  height: 21vh;
  object-fit: contain;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.price-tag {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  padding: 0.5rem;
  margin: 0;
  height: 27vh;
  overflow: auto;
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .description {
    padding: 0.5rem;
    margin: 0;
    height: 25vh;
    overflow: auto;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
