header {
  position: relative;
  margin-top: 100px;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  filter: blur(3px);
  object-fit: cover;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  color: rgba(246, 177, 131, 0.925);
  text-shadow: 2px 1px 1px rgb(0, 0, 0);
}

.header-title h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
