header {
  position: relative;
  margin-top: 77px;
}

.carousel-item {
  position: relative;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: rgb(246, 114, 25);
  text-shadow: 1px 1px 1px gray;
}
