#about-us {
  margin-top: 4rem;
  flex: 1;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.rounded {
  filter: blur(0.5px);
}

@media screen and (max-width: 480px) {
  .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
  }
}
